<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.calcounterapplicaton.folkecentermobileapp">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FloatingFoundationTourActivity"/>
        <activity android:name=".InteractiveMapActivity"/>
        <activity android:name=".HistoryFolkecenterActivity"/>
        <activity android:name=".GuidedTourDeActivity"/>
        <activity android:name=".GuidedTourDkActivity"/>
        <activity android:name=".BiodomeTourDeActivity"/>
        <activity android:name=".BiodomeTourDkActivity"/>
        <activity android:name=".TestFieldDeTourActivity"/>
        <activity android:name=".TestFieldDkTourActivity"/>
        <activity android:name=".PlusHouseTourDeActivity"/>
        <activity android:name=".PlusHouseTourDkActivity"/>
        <activity android:name=".PassiveHouseTourDeActivity"/>
        <activity android:name=".PassiveHouseTourDkActivity"/>
        <activity android:name=".CafeSolaireDeTourActivity"/>
        <activity android:name=".CafeSolaireDkTourActivity"/>
        <activity android:name=".SkibstedFjordDeTourActivity"/>
        <activity android:name=".SkibstedFjordTourDkActivity"/>
        <activity android:name=".WorkshopDeTourActivity"/>
        <activity android:name=".WorkshopDkTourActivity"/>
        <activity android:name=".PlantOilLabTourDeActivity"/>
        <activity android:name=".PlantOilLabTourDkActivity"/>
        <activity android:name=".WindMuseumDeTourActivity"/>
        <activity android:name=".WindMuseumDkTourActivity"/>
        <activity android:name=".WaterTreatmentDeTourActivity"/>
        <activity android:name=".WaterTreatmentDkTourActivity"/>
        <activity android:name=".TourLanguageSelectActivity"/>
        <activity android:name=".Tip1Activity"/>
        <activity android:name=".Tip2Activity"/>
        <activity android:name=".Tip3Activity"/>
        <activity android:name=".Tip4Activity"/>
        <activity android:name=".Tip5Activity"/>
        <activity android:name=".Tip6Activity"/>
        <activity android:name=".Tip7Activity"/>
        <activity android:name=".Tip8Activity"/>
        <activity android:name=".Tip9Activity"/>
        <activity android:name=".Tip10Activity"/>
        <activity android:name=".TipsActivity"/>
        <activity android:name=".TrainingActivityWebView"/>
        <activity android:name=".TrainingActivity"/>
        <activity android:name=".QuizGameActivity"/>
        <activity android:name=".TestFieldTourActivity"/>
        <activity android:name=".BiodomeTourActivity"/>
        <activity android:name=".CafeSolaireTourActivity"/>
        <activity android:name=".PassiveHouseTourActivity"/>
        <activity android:name=".PlusHouseTourActivity"/>
        <activity android:name=".SkibstedFjordTourActivity"/>
        <activity android:name=".WaterTreatmentTourActivity"/>
        <activity android:name=".WindMuseumTourActivity"/>
        <activity android:name=".PlantOilLabTourActivity"/>
        <activity android:name=".WorkshopTourActivity"/>
        <activity android:name=".UpcomingEventsActivity"/>
        <activity android:name=".GuidedTourActivity"/>
        <activity android:name=".NewsActivity"/>
        <activity android:name=".AudioTestActivity"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>